.roboto {
    font-family: "Roboto", sans-serif !important;
}

.w-35 {
    width: 35% !important;
}

.colorWhite {
    color: var(--secondary-color) !important;
}

.bold {
    font-weight: bold;
}

.decorationNone {
    text-decoration: none;
}

.bgPrimaryMd {
    background: var(--primary-color-medium) !important;
}

.bgPrimaryLt {
    background: var(--primary-color-lighter) !important;
}

.font12 {
    font-size: 12px;
}

.borderRadius {
    border-radius: 5px;
}

.bgNone {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
}

.hidden {
    display: none;
}

:root {
    --primary-color-darker: #000000;
    --primary-color-medium: #1A1A1D;
    --primary-color-lighter: #383535;

    --secondary-color: white;
} 